.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/CF.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 10px auto 0 13px}
.u-section-1 .u-text-2 {margin: -79px 0 0 970px}
.u-section-1 .u-layout-wrap-1 {margin: 359px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-3 {font-size: 1.25rem; margin: 178px 105px 0 0}
.u-section-1 .u-text-4 {margin: -18px 219px 0 166px}
.u-section-1 .u-layout-cell-2 {min-height: 400px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 132px; min-height: 16px; width: 416px; min-width: 68px; margin: 0 -1px 0 auto}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {margin-left: 10px}
.u-section-1 .u-text-2 {margin-left: 770px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-text-3 {margin-right: 5px}
.u-section-1 .u-text-4 {margin-right: 169px; margin-left: 116px}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-social-icons-1 {width: 410px; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {margin-left: 8px}
.u-section-1 .u-text-2 {margin-left: 550px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-3 {margin-right: 0}
.u-section-1 .u-text-4 {margin-right: 114px; margin-left: 61px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-social-icons-1 {width: 300px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {margin-left: 6px}
.u-section-1 .u-text-2 {margin-left: 370px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 239px}
.u-section-1 .u-text-1 {margin-left: 4px}
.u-section-1 .u-text-2 {margin-left: 170px}
.u-section-1 .u-text-4 {margin-right: 0; margin-left: 0} }